.footer {
	position: relative;
	overflow: hidden;
}

.left {
	width: 25%;
}
.right {
	width: 70%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	row-gap: 20px;
}

.right div {
	width: 23%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 760px) {
	.left,
	.right {
		width: fit-content;
		margin: 0 auto;
	}

	.right div {
		width: 50%;
	}

	.footer::before {
		height: 441px;
		width: 208px;
	}

	.footer::after {
		height: 358px;
		width: 243px;
	}
}
