.wrapper {
	background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
	position: relative;
	overflow: hidden;
}

.wrapper input::placeholder {
	color: rgba(0, 101, 254, 1);
}

.urlInput {
	width: 100%;
}

.wrapper::before {
	content: "";
	position: absolute;
	height: 400px;
	width: 400px;
	left: 0;
	top: 0;
	background: url("../../../assets/trim2.png");
	background-repeat: no-repeat;
	transform: rotate(90deg);
	pointer-events: none;
}

.wrapper::after {
	content: "";
	position: absolute;
	height: 358px;
	width: 543px;
	right: 0;
	bottom: -50px;
	background: url("../../../assets/trim.png");
	background-repeat: no-repeat;
	pointer-events: none;
}
